# Template for production environment variables
# Copy this file to .env in your production environment and fill in the values
API_KEYS_PATH=/app/data/secrets/apikeys.json
HTTPS_ONLY=false # optional
INTERNAL_POLLING_DELAY_SECONDS=0 # optional
INTERNAL_POLLING_INTERVAL_SECONDS=60 # optional
LOCAL_DATA_PATH=/app/data
OCCUPANCY_POLLING_INTERVAL_SECONDS=360 # optional
PRESENCE_POLLING_DELAY_SECONDS=30 # optional
PRESENCE_POLLING_INTERVAL_SECONDS=60 # optional
ROUTER_IP=your-router-ip # optional
ROUTER_PASSWORD=your-password # optional
ROUTER_USERNAME=your-username # optional
SESSION_SECRET_KEY=your-secret-key
