# Template for production environment variables
# Copy this file to .env in your production environment and fill in the values
SESSION_SECRET_KEY=your-secret-key
ROUTER_IP=your-router-ip
ROUTER_USERNAME=your-username
ROUTER_PASSWORD=your-password
PRESENCE_POLLING_INTERVAL_SECONDS=60
PRESENCE_POLLING_DELAY_SECONDS=30
OCCUPANCY_POLLING_INTERVAL_SECONDS=360
INTERNAL_POLLING_INTERVAL_SECONDS=60
INTERNAL_POLLING_DELAY_SECONDS=0
LOCAL_DATA_PATH=/app/data