huawei-lte-api>=1.11.0
fastapi[standard]>=0.115.12
beautifulsoup4>=4.13.4
pytest>=8.4.1
pytest-asyncio>=1.0.0
dateparser>=1.2.1
readerwriterlock>=1.0.9
markdown>=3.8.2
pytest-cov>=6.2.1
starlette-session>=0.4.3